body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

#map {
    height: 500px;
    width: 80%;
    margin: auto;
    border: 2px solid black;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#weatherInfo {
    margin-top: 10px;
    font-size: 18px;
}
