body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

#map {
    width: 700px;  /* Stel de breedte in */
    height: 700px; /* Stel de hoogte in, zodat het een vierkant wordt */
    margin: auto;  /* Centreert de kaart horizontaal */
    border: 2px solid black; /* Optioneel, voeg een rand toe voor duidelijkheid */
}


button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#weatherInfo {
    margin-top: 10px;
    font-size: 18px;
}

#objectMenu {
    position: absolute;
    top: 10px;
    left: 10px;
    background: white;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    gap: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

.menu-item {
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 10px;
}

.menu-item.selected {
    border: 2px solid blue;
}
